.navbar .logo {
    padding-left: 2.2rem;
    background-repeat: no-repeat;
    background-image: url(/images/logo.png);
    background-size: 2rem;
    background-position: center left;
    font-family: "Microsoft Yahei";
    font-weight: 100!important;
    margin: 0 auto;
}

.navbar a {
    color: #000;
}

.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.swiper-slide span {
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 21px;
}

.swiper-container {
    height: 100%;
    margin: 0rem 0;
}

.list-block .item-title.label {
    width: 70%!important;
}

.total {
    color: #000;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.total span {
    color: green;
    font-size: 1.3rem;
}

.rmargin {
    margin: 0.5rem 0;
}

.list-block {
    margin: 0.5rem 0;
}

#total {
    font-size: 1rem;
}

#total span {
    color: green;
    font-size: 1.6rem;
}

.content-block-title {
    margin-top: 0.5rem;
}

.popup {
    background-color: #efefef;
    color: #000!important;
}

.popup h3 {
    text-align: center;
    font-size: 1.4rem;
}

.popup p {
    text-align: right;
}

p {
    text-align: center;
}

.popup .content-block {
    color: #000;
}

.popup .content-block-title {
    text-align: center;
    font-size: 1.0rem;
    margin-top: 0.5rem;
    color: #000;
}

.popup .item-after {
    color: green;
}